#App {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  -webkit-perspective: 10em;
          perspective: 10em;
  -webkit-perspective-origin: 50% calc( 50% - 2em);
          perspective-origin: 50% calc( 50% - 2em);
  overflow: hidden;
}

#Scene {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: rotateScene 30s infinite linear;
          animation: rotateScene 30s infinite linear;
}

@-webkit-keyframes rotateScene {
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotateScene {
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

#Floor {
  width: 10em;
  height: 10em;
  background-image: radial-gradient(#0000, #000 75%), url("../img/Floor.png");
  position: absolute;
  -webkit-transform: translate(-50%, -50%) rotateX(90deg);
          transform: translate(-50%, -50%) rotateX(90deg);
  top: .6em;
}

#Text {
  width: 100vw;
  position: absolute;
  left: -50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  background-color: #fff3;
  color: white;
  border: 1px solid whitesmoke;
  position: absolute;
  top: -1em;
  text-align: center;
  font-size: .5em;
  text-shadow: 1px 1px 3px #000;
  background-image: radial-gradient(#0000, #0005 99%);
}
